

.aboutContainer  {
    background: rgb(240,173,173);
    background: linear-gradient(180deg, rgba(240,173,173,1) 0%, rgba(240,176,175,1) 35%, #f7cbc7 100%);
    margin-top: 250px;
}

.aboutContainer .container-fluid {
    padding: 0px;
    margin: 0px;
    position: relative;
    
}

.aboutContainer .container-fluid .row{
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin:0;
}

.aboutContainer img {
    padding: 0px;
    margin: 0px;
}

.aboutBadge {
    width:275px;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
}

.aboutBadge img {
     animation: rotation 12s infinite linear; 
}


.aboutContainer .col-md-6 {
    padding: 0px;
    margin: 0px;
}

.aboutDescription {
    padding-left: 20%;
    padding-right: 20%;
}

.aboutDescription h4 {
    text-transform: uppercase;
    font-size: 1.35rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    color: white;
}

.aboutButtonsContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.aboutButtonSection {
    position: relative;
    margin: 0px auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aboutButtonSection > * {
    margin: 15px;
}

.whiteButton {
    border: none;
    background-color: white;
    color: black; 
    padding: 8px 30px;
    border-radius: 30px;
    display: block;
    float: left;
    transition: all 0.3s ease-in;
}

.whiteButton:hover {
    background-color: black;
    color: white;
}

.ampersand {
    display: flex;
    float: left;
    color: white;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 800;
    font-size: 1.75rem;
    border-radius: 50%;
    background-color: black;
    width:55px;
    height: 55px;
    text-align: center;
    padding: 0px;
    align-items: center;
    justify-content: center;
    
    
}

.ampersand p {
   margin-top: 6px;
   transform: translateY(15%);
}

@keyframes rotation {
    from {
      transform: rotate(0deg) ;
    }
    to {
      transform: rotate(359deg) ;
    }
  }

@media (max-width: 768px) {
    
    .aboutContainer {
        margin-top: 125px;
    }

    .aboutDescription {
        padding: 0;
        padding-top: 35px;
    }

    .aboutButtonSection {
        padding: 5px;

    }

    .ampersand {
        font-size: 1.75rem;
    }

    .aboutBadge {
        width: 150px;
        
        
    }

    .aboutContainer .container-fluid .row{
        padding: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        text-align: center;

    }

    .aboutContainer .col-sm-12 {
        padding: 0px;
        margin: 0px;
    }


}


