
.aboutContainer  {
    background: rgb(240,173,173);
    background: linear-gradient(180deg, rgba(240,173,173,1) 0%, rgba(240,176,175,1) 35%, #f7cbc7 100%);
    display: block;
    padding: 5%;
    text-align: center;
}

.aboutDescription {
    padding-left: 20%;
    padding-right: 20%;
}

.aboutDescription h4 {
    text-transform: uppercase;
    font-size: 1.35rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    color: white;
}

.aboutButtonsContainer{
    display: grid;
    place-items: center;
}

.aboutButtonSection {
    position: relative;
    margin: 20px, auto; 
    left: 30px;
    padding-top: 30px;
}

.aboutButtonSection > * {
    margin: 15px;
}

.whiteButton {
    border: none;
    background-color: white;
    color: black; 
    padding: 8px 30px;
    border-radius: 30px;
    display: block;
    float: left;
}

.whiteButton:hover {
    background-color: black;
    color: white;
}

.ampersand {
    display: block;
    float: left;
    color: white;
    font-family: 'Vollkhorn, serif';
    font-weight: 800;
    font-size: 1.75rem;
    border-radius: 50%;
    background-color: black;
    width:55px;
    height: 55px;
    text-align: center;
    padding: 0px;
    margin-top: -6px;
}

.ampersand p {
   margin-top: 6px;
}

