
.aboutHero .jumbotron{
    margin-bottom: 0 !important;
    background: url('/about-image-desktop-alt.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    
}

.aboutOffset{
    border: solid white 3px;
    margin-left: -10%;
    padding: 50px;
    width: 65%;
}

.aboutOffset h2 {
    font-family: 'Vollkorn';
    font-weight: 800;
    font-size: 4rem;
    color: white;
    text-transform: uppercase;  
    margin-left: 50%; 
    border-left: solid  #F7CBC7 7px;
    padding-left: 30px;
}

@media (max-width: 768px) {

    .aboutOffset {
        width: 100%;
        padding: 50px 20px
    }

    .aboutOffset h2 {
        font-size: 2rem;
        margin-left: 5%;
        padding-left: 15px;
    }

}
