.navBar {
    position: fixed;
    min-width: 100%;
}

.navLogo {
    position: absolute;
    top: 50px;
    left: 50px;
}

.navMenu {
    position: relative;
    top: 50px;
    right: 30px;
    float: right;
}

.logoDesktop {
    height: 175px;
    width: auto;
}