.navToggle {
    background-color: black;
    height: 69px;
    width: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px;
    border-radius: 50%; 

}

.burgerBar {
    height: 3px;
    width: 30px;
    background-color: white;
    display: block;
}

.navToggleButton {
    border: none;
    background-color: transparent;
}

.sideDrawer{
    background-color: black;
    height: 100%;
    width: 100%;
    max-width: 320px;
    position: fixed;
    top:0;
    right: 0;
    z-index: 200;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
    box-shadow: -10px 0px 60px rgba(0,0,0,0.5);
    
}

.sideDrawer.open {
    transform: translateX(0);
}

.sideDrawer .sideUL {
    height: 100%;   
    list-style: none;
    padding-top: 3rem;
    padding-left: 5rem;
    display: flex;
    justify-content: center;
    flex-direction:  column;

    
}

.sideDrawer ul li {
    margin: 10px 0;
}
.sideDrawer ul li a {
    color: white;
    text-transform: uppercase;
    font-family: 'Ubuntu';
    font-weight: '700';
    font-size: 1.35rem;
    letter-spacing: 0.1rem;
    padding-bottom: 3px;
    transition: all 0.3s ease-out;
    
}

.sideDrawer ul li a:hover,
.sideDrawer ul li a:focus,
.sideDrawer ul li a:active {
    text-decoration: none;
    color: #F0ADAD;
    border-bottom: solid 3px #F0ADAD;
    
    
}

.sideDrawer ul li a:active {

}